.pageHeader {
    width: 100vw;
    height: 6vh;
    background-color: lightskyblue;
    text-align: right;
    padding: 5px;
}

button, .searchFriends  {
    display: inline-block;
    margin-right: 50px;
}
