<div class="formWrapper">
    <input type="text" placeholder="Search">
</div>

<ul>
<li *ngFor="let chat of chatList" 
    (click)="changeChatRoom(chat)" 
    [class.selected]="chat===selected">
    <img class="chatPicture" *ngIf="!chat.profilePicture" 
            src="https://lh3.googleusercontent.com/TC96Trs_RUZ9fMkusLqJPyBZsfFawlR8HsbyRmcanOvv-y5Mnm4rH0fraGmNtk5n4Tw=w300"/>
    <span>{{chat.title}}</span>
</li>
</ul>

<div class="newChat" (click)="createChatRoom()">
    <button ><span>+</span></button>
</div>
