<div  class="chatRoom">

  <div class="title" (click)="openTitleDialog()"> 
    <span>{{room.title}}</span> 
  </div>

  <div class="chat">
    
    <div class="messageList">
        <ul #scrollMe (scroll)="onScroll()"> 
          <li *ngFor="let msg of room.messages; let i = index;" [ngClass]="(msg.sender===username)?'right':'left'">
            <div *ngIf="i==0 || msg.sender !== room.messages[i-1].sender || isNewer(msg.sentAt, room.messages[i-1].sentAt)" 
                  class="sender" 
                  [ngClass]="(msg.sender===username)?'right':'left'">
                <img class="profilePicture" *ngIf="!msg.sender.profilePicture" 
                    src="{{msg.senderProfilePicture}}">
                <span> {{msg.sender}} </span>
                <span> {{transform(msg.createdAt)}}</span>
            </div>
            <div [ngSwitch]="msg.messageType"> 
              <img *ngSwitchCase="'image'" [src]="msg.text"/>
              <span *ngSwitchCase="'text'" [ngClass]="(msg.sender===username)?'orange':'blue'"> {{msg.text}}</span>
            </div>
          </li>   
        </ul>

        <app-message-input (message)="sendMessage($event)"></app-message-input>

    </div> <!-- .messageList -->

    <div class="info" >
      <img [src]="room.picture" (click)="openPictureDialog()"/>
      <ul class="userList">
        <li *ngFor="let member of room.members">
          <img class="memberPicture" [src]="member.profilePicture" />
          <span>{{member.username}}</span>
        </li>   
      </ul>
      <ul >
        <li><span (click)="openInviteUserDialog()">Invite users</span></li>
        <li><span (click)="openLeaveRoomDialog()">Leave room</span></li>
      </ul>

    </div> <!-- .info -->

  </div>

  

</div>