.userProfile {
    width: 100%;
    height: 100%;
    display: flex; 
}

.settings {
   width: 20%;
   height: 100%;
}


.name {
    width: 50%;
    height: 100%;
}

.profilePicture {
   width: 30%;
   height: 100%;
}

.profilePicture img {
    border-radius: 50%;
    width: 70%;
    height: 80%;
    margin: 5%;
}

.hamburger {
    margin-top: 30%;
    margin-left: 20%;
    cursor: pointer;
}

.hamburger div {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: white;
    border-radius: 3px;
}
