<div class="home">
    <div class="leftPanel">
        <div class="userPanel">
            <app-profile></app-profile>
            <!-- <app-header></app-header> -->
        </div>
       <div class="chatList">
            <app-chat-list (selectedChat)="changeChatRoom($event)"
                        (createNewChatRoom)="createNewChatRoom()"></app-chat-list>            
       </div>
    </div>
    
    <div [ngSwitch]="selected" class="mainPanel">
        <app-chat-room *ngSwitchCase="'chatRoom'" [room]="room"></app-chat-room>    
    </div>
</div>