<div class="formWrapper">
    <input type="text" placeholder="Search">
</div>

<ul>
<li *ngFor="let chat of chatList" 
    (click)="changeChatRoom(chat)" 
    [class.selected]="chat===selected">
    <img class="chatPicture" [src]="chat.picture"/>
    <span class="chatTitle">{{chat.title}}</span>
    <span *ngIf="chat.unseenCount" class="badge">{{chat.unseenCount}}</span>
</li>
</ul>

<div class="newChat" (click)="createChatRoom()">
    <div class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-plus"></span> 
    </div>
</div>
