.chatRoom {
    height: 100%;
}

.title {
    height: 5%;
    font-size: 160%;
}

.messages {
    height: 85%;
} 

.messageInput {
    height: 10%;
    padding: 7px
}

input  { 
    /* border: 0;  */
    padding: 10px;
    width: 85%; 
} 

button {
     width: 10%; 
     border: none; 
     padding: 10px;  
}

ul { 
    list-style: none;
    /* overflow: auto; */
    width: 100%;
    padding: 5px;
    height: 95%;
    display: table;
}

/* li {
    background: #00aabb;
    border-radius: .4em;
    padding: 5px;
    margin: 5px;
} */


li {
    margin: 5px;
    font-size: 120%;
}


/*
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }  */