.chatRoom {
    height: 100%;
    width: 100%;    
}

.title {
    width: 100%;
    height: 6%;
    font-size: 160%;
    background-color: rgb(127, 98, 187);
    display: flex;
    padding: 1%;
}

.chat {
    height: 94%;
    width: 100%;
    display: flex;
}

.messageList {
    height: 100%;
    width: 85%;
    border-left-style: ridge;
}

.info {
    height: 100%;
    background-color: azure;
    width: 15%;
 /*   transition: width 2s;*/
    border-left-style: ridge;
}
/*
.info:hover {
    width: 15%; 
    right: 0;
}*/

.messageInput {
    height: 5%;
    padding: 7px
}

input  { 
    padding: 10px;
    width: 85%; 
} 

.messageInput button {
     width: 10%; 
     border: none; 
     padding: 10px;  
}

ul { 
    list-style: none;
    overflow-y: auto;
    width: 100%;
    padding: 5px;
    height: 88%;
}

.messageList ul li { 
    margin: 5px;
    overflow-wrap: break-word;
    padding: 10px;
    max-width: 100%;
    clear: both;
}

.left {
    
}

.right {
    text-align: right;
    flex-direction: row-reverse;
}

.orange {
    background: darkorange;
    margin-right: 50px;
    padding: 10px;
    border-radius: .4em;
}

.blue {
    background: lightblue;
    border-radius: .4em;
    margin-left: 50px;
    padding: 10px;
}

.profilePicture {
    width: 40px;
    height: 40px;
}

.sender {
    width: 100%;
    margin: 10px;
    padding: 10px;
}

.chat span {
    font-family: serif;
    font-size: 120%;
}

.title span {
    width: 80%;
    height: 90%
}

.info #inpt1 {
    width: 90%;
/*    height: 5%;*/
/*    margin: 5%;*/
    border-radius: 40px;
}

.roomSettings {
    list-style-type: none;
    width: 100%;
    height: 30%;
    padding: 0;
}

.roomSettings li {
    border: solid;
    border-style : ridge;
    width: 100%;
}

.userList {
    height: 65%;
    width: 100%;
}