.chatRoom {
    height: 100%;
    width: 100%;    
}

.title {
    width: 100%;
    height: 8%;
    font-size: 160%;
    background-color: DarkSlateBlue;
    display: flex;
    padding: 1%;
}

.title span {
    width: 90%;
    height: 100%;
    margin-left: 2%;
    color: white;
}

.chat {
    height: 92%;
    width: 100%;
    display: flex;
}

.messageList {
    height: 100%;
    width: 85%;
    border-left-style: ridge;
}

.info {
    height: 100%;
    background-color: #ecebf3;
    width: 15%;
    border-left-style: ridge;
}

.messageInput {
    height: 9%;
    padding: 7px
}

.messageInput input  { 
    padding: 10px;
    width: 85%; 
    height: 100%;
    margin-left: 2%;
    border-radius: 10px;
    outline: none;
    border: 1px solid #dddddd;
} 

.messageInput button {
    width: 10%;
    height: 100%;
    border: none; 
    border-radius: 12px;
}

.messageList ul { 
    list-style: none;
    overflow-y: auto;
    width: 100%;
    padding: 5px;
    height: 88%;
}

.messageList ul li { 
    margin: 5px;
    overflow-wrap: break-word;
    padding: 10px;
    max-width: 100%;
    clear: both;
}

.left {
    
}

.right {
    text-align: right;
    flex-direction: row-reverse;
}

.orange {
    background: darkorange;
    margin-right: 50px;
    padding: 10px;
    border-radius: .4em;
}

.blue {
    background: lightblue;
    border-radius: .4em;
    margin-left: 50px;
    padding: 10px;
}

.profilePicture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sender {
    width: 100%;
    margin: 10px;
    padding: 10px;
}

.chat span {
    font-family: serif;
    font-size: 120%;
}

.roomSettings {
    list-style-type: none;
    width: 100%;
    padding: 0;
}

.roomSettings li {
    border-style : ridge;
    width: 100%;
    padding: 5%;
    font-family: "Avenir Next", "Avenir", sans-serif;
}

.roomSettings li:hover {
    background: #eee;
    cursor: pointer;
  }

.roomSettings li span {
    text-align: center;
}

.userList {
    width: 100%;
    height: 65%;
    padding: 5%;
    list-style-type: none;
}

.userList li {
    margin: 5%;
    width: 90%;
}

.userList .memberPicture {
    height: 100%;
    width: 30%;
    border-radius: 50%;
}

.userList .memberPicture .span {
    width: 60%;
    margin: 5%;
}