<div  class="chatRoom">

  <div class="title"> 
    <span>{{room.title}}</span> 
  </div>

  <div class="chat">
    
    <div class="messageList">
        <ul #scrollMe (scroll)="onScroll()"> 
          <li *ngFor="let msg of room.messages; let i = index;" [ngClass]="(msg.sender===username)?'right':'left'">
            <div *ngIf="i==0 || msg.sender !== room.messages[i-1].sender || isNewer(msg.sentAt, room.messages[i-1].sentAt)" 
                  class="sender" 
                  [ngClass]="(msg.sender===username)?'right':'left'">
                <img class="profilePicture" *ngIf="!msg.sender.profilePicture" 
                    src="../../assets/images/user/{{msg.senderProfilePicture}}">
                <span> {{msg.sender}} </span>
                <span> {{transform(msg.sentAt)}}</span>
            </div>
            <div [ngSwitch]="msg.messageType"> 
              <img *ngSwitchCase="'image'" [src]="msg.text"/>
              <span *ngSwitchCase="'text'" [ngClass]="(msg.sender===username)?'orange':'blue'"> {{msg.text}}</span>
            </div>
          </li>   
        </ul>
      
        <div class="messageInput">
          <input type="file" (change)="sendFileMessage($event.target.files)"/>
          <input (keyup.enter)="sendMessage()" [(ngModel)]="message" />
          <button (click)="sendMessage()">Send</button>
        </div>

    </div> <!-- .messageList -->

    <div class="info" >
      <img src="../../assets/images/chat/{{room.picture}}"/>
      <ul class="roomSettings">
        <li><span (click)="openTitleDialog()">Title</span></li>
        <li><span (click)="openPictureDialog()">Picture</span></li>
        <li><span (click)="openInviteUserDialog()">Invite users</span></li>
        <li><span (click)="leaveRoom()">Leave room</span></li>
      </ul>

      <ul class="userList">
        <li *ngFor="let member of room.members">
          <img class="memberPicture" src="../../assets/images/user/{{member.profilePicture}}" />
          <span>{{member.username}}</span>
        </li>   
      </ul>

    </div> <!-- .info -->

  </div>

  

</div>